*{box-sizing: border-box;}

body{
  margin: 0;
}

header{
  background-color: #2F7541;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}

.header-item{
  height: 20px;
  width:100px;
  background-color: #85BC42;
  margin-right: 20PX;
    /*display: inline-block;*/
}

.header-item:last-child{
  margin-right: 0;
}

main{
  padding: 50px;
  background-color: #FCF559;
}

.container{
background-color: #E3AC08;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}

.container-item-outer{
  /*background-color: #B75A0D;*/
  /*border: 1px solid black;*/
  width: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  /*flex: 0 0 33.333%: (grow,shrink,basis)*/
  padding: 25px;
}

.container-item-inner{
  padding-bottom: 100%;
  /*(TRICK TO MAKE PERFECT SQUARE ABOVE padding-bottom: )*/
  background-color: #B75A0D;
}

.circle{
  border-radius: 50%;
}

.double{
  flex-basis: 66.666%;
}

.double .container-item-inner{
  padding-bottom: calc(50% - 25px);
}

.stacked{
padding-bottom: 50%;
}

.stacked:first-child{
  background-color: #C48007;
}

.triple{
  flex-basis: 99.999%;
}

.triple .container-item-inner{
  padding-bottom: cals(33.333% - 25px);
}

@media (max-width: 700px) {
  header{
    justify-content: space-between;
  }
  .container-item-outer{
    flex-basis: 100%;
  }
  .container-item-inner{
    padding-bottom: 50%;
  }

}

@media (max-width: 400px) {
  header{
    justify-content: space-between;
  }
  .container-item-outer{
    flex-basis: 100%;
    padding: 15px;
  }
  .container-item-inner{
    padding-bottom: 50%;
    background-color: #2A2D62;

  }
  .container{
    background-color: #528AB1;
  }
  .stacked:first-child{
    background-color: lightblue;
  }

}
